{% extends 'mailchimp-lists/list/layout' %}

{% set currentPage = craft.app.request.getQueryParam('page') ? craft.app.request.getQueryParam('page') : 1 %}
{% set currentUrl = url(craft.app.request.pathInfo) %}
{% set params = {
    count: 20,
    offset: (currentPage - 1) * 20,
    sort_dir: 'DESC'
} %}
{% set response = craft.mailchimpLists.getListMembers(listId, params) %}

{% set selectedTab = 'contacts' %}

{% block actionButton %}

  <span class="btn" onClick="window.location.reload()" data-icon="refresh"></span>

{% endblock %}

{% set content %}

  {% if response %}

    {% if response.success %}

      {% if response.statusCode == 200 %}

        {% if response.body.members|length %}

          <table class="data fullwidth collapsible">

            <thead>
              <tr>
                <th scope="col">Email Address</th>
                <th scope="col">Status</th>
                <th scope="col">Added</th>
                <th scope="col">Last Changed</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>

              {% for member in response.body.members %}

                {% set added = craft.app.info.timezone ?
                    member.timestamp_opt|date('jS F Y H:i', craft.app.info.timezone) :
                    member.timestamp_opt|date('jS F Y H:i')
                %}

                {% set changed = craft.app.info.timezone ?
                    member.last_changed|date('jS F Y H:i', craft.app.info.timezone) :
                    member.last_changed|date('jS F Y H:i')
                %}

                <tr>
                  <th>
                    <a href="{{ url('mailchimp-lists/' ~ listId ~ '/contacts/' ~ member.id) }}">
                      <div>{{ member.email_address }}</div>
                    </a>
                  </th>
                  <td class="nowrap">
                    <div>
                      <code class="{{ member.status == 'subscribed' ? 'success' : member.status == 'unsubscribed' ? 'error' }}">
                      {{ member.status }}
                    </code>
                  </div>
                  </td>
                  <td class="nowrap">
                    <div><code>{{ added }}</code></div>
                  </td>
                  <td class="nowrap">
                    <div><code>{{ changed }}</code></div>
                  </td>
                  <td class="nowrap thin">
                    <form method="post" accept-charset="UTF-8">
                      {{ csrfInput() }}
                      <input type="hidden" name="listId" value="{{ listId }}">
                      <input type="hidden" name="memberId" value="{{ member.id }}">
                      <div class="btngroup">
                        <div class="btn menubtn" data-icon="settings"></div>
                        <div class="menu" data-align="right">
                          <ul>
                            <li><a href="{{ url('mailchimp-lists/' ~ listId ~ '/contacts/' ~ member.id) }}">Overview</a></li>
                            {% if member.status == 'subscribed' %}
                              <li>
                                <a class="formsubmit" data-action="mailchimp-lists/member/update-status" data-param="status" data-value="unsubscribed" data-confirm="Are you sure you want to change the subscription status of {{ member.email_address }}?">
                                  Unsubscribe
                                </a>
                              </li>
                            {% endif %}
                            <li><a class="formsubmit error" data-action="mailchimp-lists/delete/member" data-confirm="Are you sure you want to delete {{ member.email_address }}?">Delete</a></li>
                          </ul>
                        </div>
                      </div>
                    </form>
                  </td>
                </tr>

              {% endfor %}

            </tbody>

          </table>

          {% include 'mailchimp-lists/includes/pagination' %}

        {% else %}

          <div class="callout warning">
            No contacts found
          </div>

        {% endif %}

      {% else %}

        {% include 'mailchimp-lists/errors/client' %}

      {% endif %}

    {% else %}

      {% include 'mailchimp-lists/errors/exception' %}

    {% endif %}

  {% endif %}

{% endset %}
