{% extends 'mailchimp-lists/list/layout' %}

{% import '_includes/forms' as forms %}

{% set settings = craft.app.plugins.getPlugin('mailchimp-lists').settings %}
{% set response = craft.mailchimpLists.getList(listId) %}
{% set errorBody = craft.app.session.hasFlash('errorBody') ? craft.app.session.getFlash('errorBody') : null %}
{% set selectedTab = 'settings' %}
{% set fullPageForm = true %}

{% set content %}

  {% if response %}

    {% if response.success %}

      {% if response.statusCode == 200 %}

        {{ forms.hidden({
            name: 'action',
            value: 'mailchimp-lists/settings'
        }) }}

        {{ forms.hidden({
            name: 'listId',
            value: listId
        }) }}

        {% if errorBody %}

          <div class="callout alert">
            <p><strong>{{ errorBody.title }}</strong><br>{{ errorBody.detail }}</p>
            {% if errorBody.errors %}
              <div class="callout">
                <pre>{{ errorBody.errors|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
              </div>
            {% endif %}
          </div>

        {% endif %}

        {{ forms.textField({
            first:        true,
            required:     true,
            label:        'List name',
            instructions: 'The name of the list.',
            name:         'name',
            placeholder:  'List name',
            value:        response.body.name
        }) }}

        {{ forms.lightswitchField({
            label:        'Multiple formats for emails',
            instructions: 'Allow subscribers to choose whether they want to receive HTML or plain-text emails.',
            name:         'email_type_option',
            on:           response.body.email_type_option
        }) }}

        <hr>

        <h2>Campaign Defaults</h2>

        <div class="callout secondary">

          {{ forms.textField({
              required:     true,
              label:        'Sender\'s name',
              instructions: 'The default from name for campaigns sent to this list.',
              name:         'campaign_defaults[from_name]',
              placeholder:  'Sender\'s name',
              value:        response.body.campaign_defaults.from_name
          }) }}

          {{ forms.textField({
              required:     true,
              label:        'Sender\'s email address',
              instructions: 'The default from email for campaigns sent to this list.',
              name:         'campaign_defaults[from_email]',
              placeholder:  'Sender\'s email address',
              value:        response.body.campaign_defaults.from_email
          }) }}

          {{ forms.textField({
              required:     true,
              label:        'Subject',
              instructions: 'The default subject line for campaigns sent to this list.',
              name:         'campaign_defaults[subject]',
              placeholder:  'Subject',
              value:        response.body.campaign_defaults.subject
          }) }}

          {{ forms.selectField({
              required:     true,
              label:        'Language',
              instructions: 'The default language for this list.',
              name:         'campaign_defaults[language]',
              options:      settings.languages,
              value:        response.body.campaign_defaults.language
          }) }}

        </div>

        <hr>

        <h2>Required Email Footer Content</h2>

        <div class="callout secondary">

          {{ forms.textareaField({
              required:     true,
              label:        'Permission reminder',
              instructions: 'Remind people how they signed up to your list.',
              name:         'permission_reminder',
              placeholder:  'You are receiving this email because you opted in via our website.',
              value:        response.body.permission_reminder
          }) }}

        </div>

        <div class="callout secondary">

          {{ forms.textField({
              required:     true,
              label:        'Company',
              instructions: 'The company name for the list.',
              name:         'contact[company]',
              placeholder:  'Company',
              value:        response.body.contact.company
          }) }}

          {{ forms.textField({
              required:     true,
              label:        'Address line one',
              instructions: 'The street address for the list contact.',
              name:         'contact[address1]',
              placeholder:  'Address line one',
              value:        response.body.contact.address1
          }) }}

          {{ forms.textField({
              label:        'Address line two',
              instructions: 'The street address for the list contact.',
              name:         'contact[address2]',
              placeholder:  'Address line two',
              value:        response.body.contact.address2
          }) }}

          {{ forms.textField({
              required:     true,
              label:        'City',
              instructions: 'The city for the list contact.',
              name:         'contact[city]',
              placeholder:  'City',
              value:        response.body.contact.city
          }) }}

          {{ forms.textField({
              required:     true,
              label:        'State',
              instructions: 'The state for the list contact.',
              name:         'contact[state]',
              placeholder:  'State',
              value:        response.body.contact.state
          }) }}

          {{ forms.textField({
              required:     true,
              label:        'Postal code',
              instructions: 'The postal or zip code for the list contact.',
              name:         'contact[zip]',
              placeholder:  'Postal code',
              value:        response.body.contact.zip
          }) }}

          {{ forms.selectField({
              required:     true,
              label:        'Country',
              instructions: 'The country for the list contact.',
              name:         'contact[country]',
              options:      settings.countries,
              value:        response.body.contact.country
          }) }}

          {{ forms.textField({
              label:        'Phone number',
              instructions: 'The phone number for the list contact.',
              name:         'contact[phone]',
              placeholder:  'Phone number',
              value:        response.body.contact.phone
          }) }}

        </div>

      {% else %}

        {% include 'mailchimp-lists/errors/client' %}

      {% endif %}

    {% else %}

      {% include 'mailchimp-lists/errors/exception' %}

    {% endif %}

  {% endif %}

{% endset %}
