{% set currentPage = craft.app.request.getQueryParam('page') ? craft.app.request.getQueryParam('page') : 1 %}
{% set currentUrl = url(craft.app.request.pathInfo) %}
{% set params = {
    count: 20,
    offset: (currentPage - 1) * 20
} %}
{% set response = craft.mailchimpLists.getLists(params) %}

{% if response %}

  {% if response.success %}

    {% if response.statusCode == 200 %}

      <table class="data fullwidth collapsible">

        <thead>
          <tr>
            <th scope="col">List</th>
            <th scope="col">Subscribers</th>
            <th scope="col">Unsubscribes</th>
            <th scope="col">Opens</th>
            <th scope="col">Clicks</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>

          {% for list in response.body.lists %}

            {% set created = craft.app.info.timezone ?
                list.date_created|date('jS F Y H:i', craft.app.info.timezone) :
                list.date_created|date('jS F Y H:i')
            %}

            <tr>
              <th>
                <a href="{{ url('mailchimp-lists/' ~ list.id) }}">
                  <div>{{ list.name }}</div>
                </a>
                <div class="light">Created {{ created }}</div>
              </th>
              <td class="nowrap">
                <div><code>{{ list.stats.member_count }}</code></div>
              </td>
              <td class="nowrap">
                <div><code>{{ list.stats.unsubscribe_count }}</code></div>
              </td>
              <td class="nowrap">
                <div><code>{{ list.stats.open_rate }}</code>%</div>
              </td>
              <td class="nowrap">
                <div><code>{{ list.stats.click_rate }}</code>%</div>
              </td>
              <td class="nowrap thin">
                <form method="post" accept-charset="UTF-8">
                  {{ csrfInput() }}
                  <input type="hidden" name="listId" value="{{ list.id }}">
                  <div class="btngroup">
                    <div class="btn menubtn" data-icon="settings"></div>
                    <div class="menu" data-align="right">
                      <ul>
                        <li><a href="{{ url('mailchimp-lists/' ~ list.id) }}">Overview</a></li>
                        <li><a href="{{ url('mailchimp-lists/' ~ list.id ~ '/contacts') }}">Contacts</a></li>
                        <li><a href="{{ url('mailchimp-lists/' ~ list.id ~ '/settings') }}">Settings</a></li>
                        <li><a class="formsubmit error" data-action="mailchimp-lists/delete/list" data-confirm="Are you sure you want to delete this list?">Delete</a></li>
                      </ul>
                    </div>
                  </div>
                </form>
              </td>
            </tr>

          {% endfor %}

        </tbody>

      </table>

      {% include 'mailchimp-lists/includes/pagination' %}

    {% else %}

      {% include 'mailchimp-lists/errors/client' %}

    {% endif %}

  {% else %}

    {% include 'mailchimp-lists/errors/exception' %}

  {% endif %}

{% endif %}
